* {
  padding: 0;
  margin: 0;
  font-family: "Merriweather", serif;
}

body {
  background-image: url(/img/3d-illustration-smartphone-with-products-coming-out-screen-online-shopping-e-commerce-concept\ -\ Copy.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.page-wrapper {
  height: 100%;
  display: flex;
  margin-left: 10%;
  align-items: center;
}

.form-container {
  padding-inline: 10px;
  width: 100%;
}

.formulario {
  display: flex;
  max-width: 90%;
  max-width: 400px;
  border-radius: 5%;
  padding: 30px;
  flex-direction: column;
  row-gap: 20px;
}

.formulario_login {
  background-color: rgba(255, 255, 255, 0.434);
  width: 350px;
  border-radius: 15px;
  border-style: inset;
  border-color: rgba(207, 207, 207, 0.387);
  padding: 20px;
}

.formulario_login h1 {
  font-size: 40px;
  text-align: center;
}

.formulario_login button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(147, 203, 245);
  font-weight: bold;
  border-radius: 5px;
  border-color: rgb(148, 219, 238);
  outline: none;
  margin-left: 20px;
  margin-right: 20px;
}

.form-input {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  border-color: rgba(207, 207, 207, 0.387);
  border-radius: 5px;
}

.form-check-label {
  font-size: 11px;
}

.content-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 50px;
}
